<section class="copyright">
    <p>
        Made with ❤️ by <a href="https://github.com/Karansiddiqui" target="_blank">Karan Siddiqui</a>
    </p>
</section>

<div class="date-time">
    <span class="time"></span>
</div>
<script src="JavaScript/theme.js"></script>

</body>
</html>
